* {
    margin: 0;
    padding: 0;
}


div.title {
    margin: 10vh auto;
    text-align: center;
}

div.card {
    margin: 10vh auto;
    text-align: center;
    padding: 5%;
    width: 40vw;
    height: 40vh;
    background-color: rgb(224, 200, 200);
    border: 1px solid rgb(0, 0, 0);
    border-style: outset;
    border-radius: 15px;
}

div.form-group {
    color: blue;
    margin-top: 10px;
}

#userinput {
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(212, 239, 250);
}

#result {
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(212, 239, 250);
}

#submitBtn {
    margin: auto;
    padding: 4px;
    background-color: rgb(7, 247, 7);
    border: 1px solid black outset;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    outline: none;
}

#submitBtn:hover {
    background-color: rgb(5, 92, 5);
    color: rgb(212, 239, 250);

}

#resetBtn {
    margin: auto;
    outline: none;
    padding: 4px;
    background-color: rgb(250, 134, 134);
    border: 1px solid black outset;
    border-radius: 5px;
    cursor: pointer;
}

#resetBtn:hover {
    background-color: rgb(250, 0, 0);
    color: rgb(212, 239, 250);
}
#backBtn{
    margin: auto;
    outline: none;
    padding: 4px;
    background-color: rgb(250, 134, 134);
    border: 1px solid black outset;
    border-radius: 5px;
    cursor: pointer;
}
#backBtn:hover{
    background-color: rgb(7, 247, 7);
    color: black;
}